<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.aboutme.devel.DevelMapper">
	
	
	<!-- select -->
	
	<!-- insert -->
	<insert id="insDevel" parameterType="DevelPARAM">
		INSERT INTO t_devel
		(ctn1, ctn2, ctn3, ctn4, ctn5)
		VALUES
		(#{ctn1}, #{ctn2}, #{ctn3}, #{ctn4}, #{ctn5})
	</insert>
</mapper>