.detailContainer {
   margin: 0 auto;
}

.boardTitle {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
    color: #adaaaa;
}

.userContainer {
    
    width: 1120px;
    margin: 0 auto;
}

.userInfo {
    display: flex;
    width: 1200px;
}

#userNm {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 1.9em;
    color: #737070;
}

#date {
    margin-left: 20px;
    margin-top: 24px;
    color: grey;
    font-size: 0.95em;
}

.btns {
    margin-top: 4px;
    margin-left: 567px;
    
}

.commonBtn {
    width: 80px;
    height: 46px;
    margin-left: 25px;
    border: 2px solid #ebefff;
    border-radius: 8px;
    font-size: 1em;
    background-color: #ebefff;
    font-weight: bold;
    outline-style: none;
    transition: 0.3s;
}

.commonBtn:hover {
    cursor: pointer;
    box-shadow: 0 7px 14px -5px grey;
    transition: 0.4s;
    color:#b33636;
    border-radius: 15px;
}

.textDiv {
    margin-left: 5px;
}

#divHr1 {
    margin-top: 20px;
    border-bottom: 2px solid grey;

}

.textAreaDiv {
    width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.3em;
    color: #4a4848;
}

.cmtListBox {
    margin-top: 140px;
    
}

.cmtList {
    margin: 0 auto;
    width: 1085px;
    background-color: #f2f2f2;
    border-radius: 3px;
    
}
.cmtFlex {
    display: flex;
}

.cmtNick {
    font-size: 1.3em;
    color: #737070;   
    font-weight: bold;
}



.cmtDate {
    margin-top: 4px;
    margin-left: 20px;
    color: grey;
    font-size: 0.95em;   
}

.cmtSel {
    margin-top: 5px;
    font-size: 1.2em;
    color: #737070;   
    margin-bottom: 14px;
}

.insCmtContainer {
    width: 1085px;
    height: 110px;
    margin: 0 auto;
    margin-top: 70px;
}

.textZ {
    display: flex;
    margin-top: 10px;
}

#cmtText {
    outline-style: none;
}

#cmtRegBtn {
    margin-left: 8px;
    border: 1px solid skyblue;
    border-radius: 3px;
    font-size: 1em;
    color: #4a4848;
    font-weight: bold;
    outline-style: none;
}

#cmtRegBtn:hover {
    cursor: pointer;
}


.cmtContainer {
    margin-top: 40px;
}

.cmtDivMo {
    margin-top: 100px;
    margin: 0 auto;
}

.delCmtBtn {
    margin-left: 2px;
    margin-bottom: 25px;
    border: 2px solid grey;
    border-radius: 8px;
    font-weight: bold;
    width: 55px;
    outline-style: none;
    transition: 0.3s;
}

.delCmtBtn:hover {
    cursor: pointer;
    outline-style: none;
    transition: 0.3s;
    box-shadow: 0 3px 3px -2px grey;
}





/* Modal Content/Box */
.modal-content {
    border-radius: 12px;
    background-color: #fefefe;
    margin: 15% auto; 
    
    border: 1px solid #888;
    width: 390px;
    height: 200px;
    text-align: center;
    
}
.pop_bt {
	margin-left: 0;
    margin-top: 40px;
    width: 160px;
    text-align: center;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2x;
    font-size: 1.0em;
    font-weight: bold;
}

.pop_bt:hover {
    box-shadow: 0 4px 7px -3px grey;
}



h1 {
    color: #3b89ff;
}

#cerCodeIns {
    margin-top: 20px;
    border-radius: 4px;
    outline-style:none;
    border: 2px solid grey;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

#cerCodeIns:hover {
    cursor: pointer;
    border:2px solid black;
}

#submitIns {
    margin-left: 6px;
    border: 2px solid grey;
    border-radius: 4px;
    transition: 0.2;
}

#submitIns:hover {
    cursor:pointer;
    box-shadow: 0 4px 7px -3px grey;
    font-weight: bold;
    transition: 0.2;
    
}

#cerCodeCount {
	color: red;
}





.height {
    height: 500px;
}