.container {
    margin: 0 auto;
    margin-left: 340px;
    margin-top: 30px;
}

header {
    width: 1000px;
    margin-left: 100px;
}

.headerDiv {
    border: 2px solid grey;        
    border-radius: 4px;
}

.headerUl {
    display: flex;
    list-style-type: none;
}

/*   header 첫번째 a태그 margin 값주기  */
.headerLi1 {
    margin-left: 350px;
    line-height: 40px;
}

.headerLi {
    margin-left: 10px;
    line-height: 40px;
}

.headerA {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.indexDiv {
    margin-top: 30px;
}

.chatMsg {
    margin-top: 500px;
    margin-left: 1480px;
    width: 400px;
    height: 100px;
    border: 1px solid black;
    
}

.aboutMe {
    font-size: 1.5em;
    line-height: 33px;
}

.audio {
    outline-style:none;
    
}



