.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.alert {
    text-align: center;
    font-size: 1.1em;
    color: red;
    line-height: 35px;
}

.hibabyContainer {
    margin-top: 60px;
    display: flex;   
}

#hibabyFont {
    font-size: 5.5em;
    color: skyblue;
    font-weight: bold;
}

.hibabyImg {
    width: 170px;
    height: 117px;
    margin-left: 30px;
}

pre {
    margin-top: 40px;
    font-size: 1.5em;
}

.movieInfo {
    display: flex;
    
}

video {
    width: 420px;
    height: 360px;
    outline-style:none;
}

.titleDiv {
    width: 600px;
    margin-top: 75px;
    margin-left: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    
}

#infoH1 {
    color: #8a8a88;
    text-align:center;
}

.infoUl {

}

.infoLi {
    font-size: 1.1em;
}


.height {
    height: 1000px;
}