
/* Header */
a:hover {
    cursor: pointer;
}


header {
    width: 100%;
    height: 210px;    
    background-color: #f5e6e6;
    border-radius: 2px;

}


.headerDiv1 {
    text-align: center;
    
}

.headerDiv2 {
    font-size: 2.4em;
}


.headerDiv3 {
    font-size: 1.1em;
}


.headerDiv2:hover {
    cursor:pointer;
}



.headerUl {
    display: flex;
    list-style-type: none;
    margin-bottom: 40px;
    font-size: 1.2em;
    margin-top: 40px;
    
    
}
.headerLi1 {
    margin-left: 530px;
}

.headerLi {
    margin-left: 70px;
}

.headerA {
    color: grey;
    text-decoration: none;
}

.headerA:hover {
    color: #ff6363;
    font-weight: bold;
    
}

.headerBottomDiv {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #f2f2f2;
    
}

audio {
    margin-left: 10px;
    outline-style:none;
}


#homeMsg {
    margin-left: -50px;
    margin-right: 580px;

}

.dateDiv {
    color: grey;
    margin-left: 520px;
    margin-top: 17px;
}

footer {
    margin-top: 200px;
    margin-bottom: 200px;
}

.footerDiv {
    height: 200px;
}


/* Chat Start */

/* 챗 메세지 아이콘 */
.message {
    position: fixed;
    right: 20px; top: 810px;
}

#messageIcon {
    width: 145px;
    height: 145px;
}

#messageIcon:hover {
    cursor: pointer;
}

.ourSite {
    position: fixed;
    right: 20px; top: 333px;
    width: 315px;
    height: 55px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d6d6d6;    
    
}

.ourSite-1 {
    font-family: 'Single Day', cursive;
    font-size: 1.8em;
    font-weight: bold;
    color:#787878;
    margin-top: 5px;
}


/* X 버튼 */
.chatCloseBtn {
    position: fixed;
    right: 19px; top: 285px;    
    text-align: center;
    font-weight: bold;
    color: #111;
    background-color: white;
    border: none;
    outline-style: none;
    transition: 0.1s;
}

.chatCloseBtn:hover {
    cursor: pointer;
    color: grey;
    transition: 0.1s;
}

#exitIcon {
    font-size: 3em;
}

#exitIcon:hover {
    font-size: 3.1em;
}

/* 스크롤 */
::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 길이 */
    }
    ::-webkit-scrollbar-track {
    background-color: lightblue;
    }
    ::-webkit-scrollbar-track-piece {
    background-color: white;
    }
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    }
    ::-webkit-scrollbar-button {
    background-color: darkblue;
    width: 20px;
    height: 10px;
    }
    ::-webkit-scrollbar-button:start {
    background-color: white; /* Top, Left 방향의 이동버튼 */
    height: 0px;
    }
    ::-webkit-scrollbar-button:end {
    background-color: white; /* Bottom, Right 방향의 이동버튼 */
    height: 0px;
    }

/* 챗 화면 */
.chatView {
    position: fixed;
    right: 20px; top: 400px;
    padding-top: 20px;
    padding-left: 15px;
    border-top-style: none;
    border: 2px solid grey;
    width: 300px;
    height: 412px;
    overflow-y: auto;
}

.chatViewAlert {
    margin-right: 10px;
    font-size: 0.8em;
    color: #8a8a8a;
    text-align: center;
    line-height: 19px;
    margin-bottom: 25px;
}

.userChat {
    font-family: 'Nanum Gothic', sans-serif;
    width: 230px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
}

.userDate {
    margin-top: -2px;
    margin-left: 100px;
    color: grey;
    font-size: 0.9em;

}

.adminNm {
    margin-bottom: 4px;
    margin-left: 180px;
    font-weight: bold;
}

.adminChat {
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: 30px;
    width: 230px;
    background-color: #dbd7d7;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    text-align: start;
    padding-right: 15px;
}

.adminDate {
    margin-top: -2px;
    margin-left: 135px;
    color: grey;
    font-size: 0.9em;
    margin-bottom: 30px;
}

/* 챗 입력 */
.chatIns {
    position: fixed;
    right: 62px; top: 834px; 
    
}

#chatCtnt {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    color: grey;
    width: 255px;
    height: 25px;
    resize: none;
    outline-style: none;
    border: 2px solid grey;
    border-right-style: none;
    font-size:1.2em;
    color: #111;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

#sendBtn {
    height: 30px;
    outline-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right:1px solid grey;
    border-bottom: 1px solid grey;
    border-bottom-right-radius: 10px; 
    background-color: white;
}


#sendIcon {
    position: fixed;
    top: 834px;
    right: 20px;
    color: grey;
    font-size: 2em;
    border: 2px solid grey;
    border-left-style: none;
    border-bottom-right-radius: 10px;
    width: 60px;
    height: 37px;
    text-align: center;
}

#sendIcon:hover {
    cursor: pointer;
    color: #a3a3a3;
}


/* Chat End */



/* Header End */



/* index */
.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.indexSpeak {
    text-align: center;
}

.speak {
    color: #333333;
    font-size: 1.2em;
    line-height: 38px;
}

.infoURLDiv {
    margin-top: 110px;
    text-align: center;
  
}

.infoImgDiv {
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
    justify-content: center;
}

#infoH1 {
    margin-top: 45px;
}

#infoH3 {
    color: grey;
    margin-top: 58px;
}

#spanBlog {
    color: green;
}

#spanGithub {   /* 깃허브 색변경하기 */
    color: grey;
}

.infoA {
    text-decoration: none;
    color: grey;    
}


.infoImg {
    width: 230px;
    height: 140px;
    margin-left: 37px;
    border-radius: 10px;
}



/* popup */
.contents {margin:0 auto; max-width:800px;}
.contents .title {margin:10px 0; font-size:25px; font-weight:600; text-align:center;}
.contents p {line-height:20px; font-size:14px;}

.layerPopup {display:none;}
.layerPopup:before {display:block; content:""; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.3);}
.layerPopup .layerBox {position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); padding:30px; background:#fff; border-radius:6px; width: 600px;}
.layerPopup .layerBox .title {margin-bottom:10px; padding-bottom:10px; font-weight:600; border-bottom:1px solid #d9d9d9;}
.layerPopup .layerBox .cont {margin-bottom:40px;}
.layerPopup .layerBox p {line-height:20px; font-size:13px;}
.layerPopup .layerBox .btnClose {display:inline-block; position:absolute; right:30px; top:25px; padding:6px 12px; color:#444; font-size:17px; text-decoration:underline;}
.layerPopup .layerBox .btnTodayHide {position: relative; font-size:13px; font-weight:600; text-decoration:underline; left: 470px; bottom: -13px; font-size: 1em;}

.introMovie {
    width: 600px;
    height: 400px;
}

.introMovie:hover {
    cursor: pointer;
}

.mailContainer {
    position: fixed;
    top: 150px;
    right: 10px;
}

.mailImg {
    width: 90px;
    height: 90px;
}

.mailBox {
    position: fixed;
    top: 19%;
    right: 3%;
}
