
/* Header */
a:hover {
    cursor: pointer;
}


header {
    width: 100%;
    height: 210px;    
    background-color: #f5e6e6;
    border-radius: 2px;

}


.headerDiv1 {
    text-align: center;
    
}

.headerDiv2 {
    font-size: 2.4em;
}


.headerDiv3 {
    font-size: 1.1em;
}


.headerDiv2:hover {
    cursor:pointer;
}



.headerUl {
    display: flex;
    list-style-type: none;
    margin-bottom: 40px;
    font-size: 1.2em;
    margin-top: 40px;
    
    
}
.headerLi1 {
    margin-left: 530px;
}

.headerLi {
    margin-left: 70px;
}

.headerA {
    color: grey;
    text-decoration: none;
}

.headerA:hover {
    color: #ff6363;
    font-weight: bold;
    
}

.headerBottomDiv {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #f2f2f2;
    
}

audio {
    margin-left: 10px;
    outline-style:none;
}


#homeMsg {
    margin-left: -50px;
    margin-right: 580px;

}

.dateDiv {
    color: grey;
    margin-left: 520px;
    margin-top: 17px;
}

footer {
    margin-top: 200px;
    margin-bottom: 200px;
}

.footerDiv {
    height: 200px;
}


/* Chat Start */

/* 챗 메세지 아이콘 */
.message {
    position: fixed;
    right: 20px; top: 810px;
}

#messageIcon {
    width: 145px;
    height: 145px;
}

#messageIcon:hover {
    cursor: pointer;
}

.ourSite {
    position: fixed;
    right: 20px; top: 333px;
    width: 315px;
    height: 55px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#e6e3dc;    
}

.ourSite-1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #8aa5a8;
}

.ourSite-2 {
    font-size: 1em;
    font-weight: bold;
    color: red;
}

/* X 버튼 */
.chatCloseBtn {
    position: fixed;
    right: 23px; top: 285px;    
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
    color: #111;
    background-color: white;
    border: none;
    outline-style: none;
    transition: 0.1s;
}

.chatCloseBtn:hover {
    cursor: pointer;
    color: grey;
    font-size: 2.5em;
    transition: 0.1s;
}

/* 스크롤 */
::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 길이 */
    }
    ::-webkit-scrollbar-track {
    background-color: lightblue;
    }
    ::-webkit-scrollbar-track-piece {
    background-color: white;
    }
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    }
    ::-webkit-scrollbar-button {
    background-color: darkblue;
    width: 20px;
    height: 10px;
    }
    ::-webkit-scrollbar-button:start {
    background-color: white; /* Top, Left 방향의 이동버튼 */
    height: 0px;
    }
    ::-webkit-scrollbar-button:end {
    background-color: white; /* Bottom, Right 방향의 이동버튼 */
    height: 0px;
    }

/* 챗 화면 */
.chatView {
    position: fixed;
    right: 20px; top: 400px;
    padding-top: 20px;
    padding-left: 15px;
    border-top-style: none;
    border: 2px solid grey;
    width: 300px;
    height: 412px;
    overflow-y: auto;
}

.chatViewAlert {
    margin-right: 10px;
    font-size: 0.8em;
    color: #8a8a8a;
    text-align: center;
    line-height: 19px;
    margin-bottom: 25px;
}

.userChat {
    width: 230px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
}

.userDate {
    margin-top: -2px;
    margin-left: 100px;
    color: grey;
    font-size: 0.9em;

}

.adminNm {
    margin-bottom: 4px;
    margin-left: 180px;
    font-weight: bold;
}

.adminChat {
    margin-left: 30px;
    width: 230px;
    background-color: #dbd7d7;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    text-align: start;
    padding-right: 15px;
}

.adminDate {
    margin-top: -2px;
    margin-left: 135px;
    color: grey;
    font-size: 0.9em;
    margin-bottom: 30px;
}

/* 챗 입력 */
.chatIns {
    position: fixed;
    right: 22px; top: 834px; 
}

#chatCtnt {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    color: grey;
    width: 255px;
    height: 25px;
    resize: none;
    outline-style: none;
    border: 2px solid grey;
    font-size:1.2em;
    color: #111;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

#sendBtn {
    height: 30px;
    outline-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right:1px solid grey;
    border-bottom: 1px solid grey;
    border-bottom-right-radius: 10px; 
    background-color: white;
}

#sendIcon {
    color: grey;
    font-size: 2em;
    
}

#sendIcon:hover {
    cursor: pointer;
    color: #a3a3a3;
}


/* Chat End */



/* Header End */



/* index */
.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.indexSpeak {
    text-align: center;
}

.speak {
    color: #333333;
    font-size: 1.2em;
    line-height: 38px;
}

.infoURLDiv {
    margin-top: 110px;
    text-align: center;
  
}

.infoImgDiv {
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
    justify-content: center;
}

#infoH1 {
    margin-top: 45px;
}

#infoH3 {
    color: grey;
    margin-top: 58px;
}

#spanBlog {
    color: green;
}

#spanGithub {   /* 깃허브 색변경하기 */
    color: grey;
}

.infoA {
    text-decoration: none;
    color: grey;    
}


.infoImg {
    width: 230px;
    height: 140px;
    margin-left: 37px;
    border-radius: 10px;
}

