

body {
    
    background-color: #111;
    color: #b3b3b3;
}

.container {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.introTopDiv {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.introBtns {
    font-size: 1em;
    width: 150px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 100px;
    
    font-weight: bold;
    color: grey;
    outline-style: none;
    transition: 0.3s;
    background-color: #111;
}

.introBtns:hover {
    color: white;
    cursor: pointer;
    background-color: #ababab;
    box-shadow: 0 7px 14px -5px grey;
    transition: 0.6s;
}

#ib2 {
    margin-left: 150px;
}

#ib3 {
    margin-left: 150px;
}

.introContainer {
    margin-top: 90px;
}

.introVideo {
    display:flex;
    justify-content: center;
}

.introV {
    width: 650px;
    height: 550px;
    margin-left: 20px;
}

.introV:hover {
    cursor :pointer;
}

#introDiv1 {
    line-height: 40px;
    font-size: 1.2em;
}

.introSpace1 {
    height: 400px;
}

.infoImg {
    border-radius: 6px;
}

.kakaoImg1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.kimg {
    height: 820px;
    border-radius: 6px;
    margin-left: 5px;
}

.introSpace2 {
    height: 250px;
}





.resumeContainer {
    margin-top: 700px;
    margin-bottom: 700px;
    
}

.downloadresume {
    margin-top: 30px;
}

.selfintroContainer {
    margin-top: 100px;
}

.selfback {
    padding-top: 50px;
    padding-bottom: 310px;
}

.selfMain {
    margin-top: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.introH2 {
    text-align: center;
}

.introP {
    margin-left: 8px;
    line-height: 30px;
}

.introPn {
    margin: 0 auto;
    width: 900px;
    height: 855px;
    text-align: start;
    border: 2px solid grey;
    border-radius: 12px;
}

.introPns {
    margin: 0 auto;
    width: 900px;
    height: 260px;
    text-align: start;
    border: 2px solid grey;
    border-radius: 12px;
}

.intro {
    margin: 0 auto;
    width: 900px;
    height: 380px;
    text-align: start;
    border: 2px solid grey;
    border-radius: 12px;
}


.height {
    
    height: 500px;
}


#TopBtn { display: none; }
#TopBtn.on:focus {outline: none;}
#TopBtn.on { 
    border-radius: 70%;
    text-transform: uppercase;
    position: fixed;
    right: 20px; bottom: 20px;
    line-height: 60px; display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    width: 90px; height: 90px; background: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.TOP {
    position: absolute;
    bottom: 20px;
    color: #3B3B3D;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
    margin-bottom: 12px;
} 
#TopBtn.on:hover { 
    border-radius: 70%;
    text-transform: uppercase;
    position: fixed;
    right: 20px; bottom: 20px;
    line-height: 60px; display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    width: 90px; height: 90px; background: grey;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#TopBtn.on:hover .TOP {
    position: absolute;
    bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
    margin-bottom: 12px;
} 
.icon-TopBtn{
    color: #3B3B3D;
    font-size: 60px;
} 
#TopBtn.on:hover .icon-TopBtn{
    color: white;
    font-size: 60px;
} 


.musicBox {
    position: fixed;
    top: 890px;
    left: 1940px;
    width: 145px;
    transition: 0.5s;
}

.musicBox:hover {
    position: fixed;
    top: 890px;
    left: 1780px;
    width: 320px;
    transition: 0.6s;
    cursor: pointer;
}