<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
		<!-- board -->
		<typeAlias type="com.jy.aboutme.board.model.BoardVO" alias="BoardVO" />
		<typeAlias type="com.jy.aboutme.board.model.BoardPARAM" alias="BoardPARAM" />
		<typeAlias type="com.jy.aboutme.board.model.BoardDMI" alias="BoardDMI" />
		
		<!-- admin -->
		<typeAlias type="com.jy.aboutme.admin.model.AdminVO" alias="AdminVO" />
		<typeAlias type="com.jy.aboutme.admin.model.AdminPARAM" alias="AdminPARAM" />
		<typeAlias type="com.jy.aboutme.admin.model.AdminDMI" alias="AdminDMI" />
		
		<!-- History  -->
		<typeAlias type="com.jy.aboutme.index.model.HistoryVO" alias="HistoryVO" />
		<typeAlias type="com.jy.aboutme.index.model.HistoryDMI" alias="HistoryDMI" />
		
		<!-- CMT -->
		<typeAlias type="com.jy.aboutme.cmt.model.CmtVO" alias="CmtVO" />
		<typeAlias type="com.jy.aboutme.cmt.model.CmtPARAM" alias="CmtPARAM" />
		<typeAlias type="com.jy.aboutme.cmt.model.CmtDMI" alias="CmtDMI" />
		
		<!-- Pagination -->
		<typeAlias type="com.jy.aboutme.Pagination" alias="Pagination" />
		
		<!-- Chat -->
		<typeAlias type="com.jy.aboutme.chat.model.ChatVO" alias="ChatVO" />
		<typeAlias type="com.jy.aboutme.chat.model.ChatPARAM" alias="ChatPARAM" />
		
		<!-- Devel -->
		<typeAlias type="com.jy.aboutme.devel.model.DevelPARAM" alias="DevelPARAM" />
		<typeAlias type="com.jy.aboutme.devel.model.DevelVO" alias="DevelVO" />
		
	</typeAliases>
</configuration>