<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- board -->
		<typeAlias type="com.jy.aboutme.board.model.BoardVO" alias="BoardVO" />
		<typeAlias type="com.jy.aboutme.board.model.BoardPARAM" alias="BoardPARAM" />
		<typeAlias type="com.jy.aboutme.board.model.BoardDMI" alias="BoardDMI" />
		
		<!-- admin -->
		<typeAlias type="com.jy.aboutme.admin.model.AdminVO" alias="AdminVO" />
		<typeAlias type="com.jy.aboutme.admin.model.AdminPARAM" alias="AdminPARAM" />
		<typeAlias type="com.jy.aboutme.admin.model.AdminDMI" alias="AdminDMI" />
		
		<!-- History  -->
		<typeAlias type="com.jy.aboutme.index.model.HistoryVO" alias="HistoryVO" />
		<typeAlias type="com.jy.aboutme.index.model.HistoryDMI" alias="HistoryDMI" />
		
	</typeAliases>
</configuration>