@charset "UTF-8";

/* Header */
a:hover {
    cursor: pointer;
}

header {
    width: 100%;
    height: 210px;    
    background-color: #e6dfd3;
    border-radius: 2px;

}

.headerDiv1 {
    text-align: center;
    
}

.headerDiv2 {
    font-size: 2.4em;
}

.headerDiv2:hover {
    cursor:pointer;
}

.headerDiv3 {
    font-size: 1.1em;
}
.headerUl {
    display: flex;
    list-style-type: none;
    margin-bottom: 40px;
    font-size: 1.2em;
    margin-top: 40px;
    
    
}
.headerLi1 {
    margin-left: 570px;
}

.headerLi {
    margin-left: 70px;
}

#mainA {
	text-decoration: none;
	color: black;
}

.headerA {
    color: grey;
    text-decoration: none;
    
}

.headerA:hover {
    color: #ff6363;
    font-weight: bold;
}

.headerBottomDiv {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #f2f2f2;
    
}

audio {
    margin-left: 10px;
    outline-style:none;
}


#showListBtn {
    margin-top: 30px;
}

#homeMsg {
    margin-left: -50px;
    margin-right: 580px;

}

.dateDiv {
    color: grey;
    margin-left: 520px;
    margin-top: 17px;
}





footer {
    margin-top: 200px;
    margin-bottom: 200px;
}

.footerDiv {
    height: 200px;
}


