@charset "UTF-8";

/* index */
.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.indexSpeak {
    text-align: center;
}

.speak {
    color: #333333;
    font-size: 1.2em;
    line-height: 38px;
}

.infoURLDiv {
    margin-top: 110px;
    text-align: center;
  
}

.infoImgDiv {
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
    justify-content: center;
}

#infoH1 {
    margin-top: 45px;
}

#infoH3 {
    color: grey;
    margin-top: 58px;
}

#spanBlog {
    color: green;
}

#spanGithub {   /* 깃허브 색변경하기 */
    color: grey;
}

.infoA {
    text-decoration: none;
    color: grey;    
}

.infoImg {
    width: 230px;
    height: 140px;
    margin-left: 37px;
    border-radius: 10px;
}




/* */
/* CSS */
.contents {margin:0 auto; max-width:800px;}
.contents .title {margin:10px 0; font-size:25px; font-weight:600; text-align:center;}
.contents p {line-height:20px; font-size:14px;}

.layerPopup {display:none;}
.layerPopup:before {display:block; content:""; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5);}
.layerPopup .layerBox {position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); padding:30px; background:#fff; border-radius:6px;}
.layerPopup .layerBox .title {margin-bottom:10px; padding-bottom:10px; font-weight:600; border-bottom:1px solid #d9d9d9;}
.layerPopup .layerBox .cont {margin-bottom:40px;}
.layerPopup .layerBox p {line-height:20px; font-size:13px;}
.layerPopup .layerBox .btnClose {display:inline-block; position:absolute; right:30px; top:25px; padding:6px 12px; color:#444; font-size:12px; text-decoration:underline;}
.layerPopup .layerBox .btnTodayHide {font-size:13px; font-weight:600; text-decoration:underline;}