@charset "UTF-8";

/* index */
.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.indexSpeak {
    text-align: center;
}

.speak {
    color: #333333;
    font-size: 1.2em;
    line-height: 38px;
}

.infoURLDiv {
    margin-top: 110px;
    text-align: center;
  
}

.infoImgDiv {
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
    justify-content: center;
}

#infoH1 {
    margin-top: 45px;
}

#infoH3 {
    color: grey;
    margin-top: 58px;
}

#spanBlog {
    color: green;
}

#spanGithub {   /* 깃허브 색변경하기 */
    color: grey;
}

.infoA {
    text-decoration: none;
    color: grey;    
}

.infoImg {
    width: 230px;
    height: 140px;
    margin-left: 37px;
    border-radius: 10px;
}