@charset "UTF-8";

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}

.topMsg {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    color: red;
}

.topContainer {
	margin-left: 6px;
    display: flex;
}


.searchBtn {
    background-color: white;
    border: 0px;
    margin-top: 20px;
    
}

.searchBtn:hover {
    cursor:pointer;
}


#frm {
    margin-bottom: 10px;
    width: 500px;
    
}

#searchIn {
    border: 2px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
}

#searchBtn {
    background-color: white;
    border: 2px solid grey;
    border-radius: 3px;
    width: 50px;
    height: 40px;
}

#searchBtn:hover {
    cursor: pointer;
    color: grey;
    font-weight: bold;
}

label {
    font-size: 1em;
    font-weight: bold;
}

#writeBtn {
    margin-left: 610px;
    width: 80px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1em;
    background-color: white;
    transition: 0.3s;
}

#writeBtn:hover {
    cursor: pointer;
    color: grey;
    box-shadow: 0 4px 13px -5px grey;
    transition: 0.4s;
    
}

table {
    margin-top: 5px;
    width: 100%;
    border: 10px double #e6dfd3;
    
    border-radius: 15px;
    
}

.height {
    height: 300px;
}


thead tr th {
    font-size: 1.2em;
    color: grey;
    background-color:#ebebeb;
}

tbody tr th {
    color:#7a6161;
}

tbody tr:nth-child(2n) {
    border-right: 2px double black;
    background:#e6dfd3;
  
}

tbody tr:hover {
    
    cursor: pointer;
    background-color: #ebebeb;
}

.pageDiv {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

#pageSpan {
    font-size: 1.3em;
    font-weight: bold;
    color: grey;
    
}

.modal {
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#listBtn {
    margin-left: -110px;
    margin-top: 1px;
    width: 90px;
    height: 39px;
    background-color: white;
    outline-style: none;
    border: 2px solid grey;
    border-radius: 3px;
}

#listBtn:hover {
    cursor: pointer;
    color: grey;
    font-weight: bold;
}

#selCount {
    font-weight: bold;
    font-size:1.1em;
    color: grey;
    margin-left: 6px;
    margin-bottom: 10px;
    margin-top: -6px;
}


/* Modal Content/Box */
.modal-content {
    border-radius: 12px;
    background-color: #fefefe;
    margin: 15% auto; 
    
    border: 1px solid #888;
    width: 390px;
    height: 200px;
    text-align: center;
    
}
.pop_bt {
	margin-left: 0;
    margin-top: 40px;
    width: 160px;
    text-align: center;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2x;
    font-size: 1.0em;
    font-weight: bold;
}

.pop_bt:hover {
    box-shadow: 0 4px 7px -3px grey;
}



h1 {
    color: #3b89ff;
}

#cerCodeIns {
    margin-top: 20px;
    border-radius: 4px;
    outline-style:none;
    border: 2px solid grey;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

#cerCodeIns:hover {
    cursor: pointer;
    border:2px solid black;
}

#submitIns {
    margin-left: 6px;
    border: 2px solid grey;
    border-radius: 4px;
    transition: 0.2;
}

#submitIns:hover {
    cursor:pointer;
    box-shadow: 0 4px 7px -3px grey;
    font-weight: bold;
    transition: 0.2;
}

#cerCodeCount {
	color: red;
}