@charset "UTF-8";

.container {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 90px;
}

.pjList {
    display: flex;
    
    margin-left: 90px;
}

#pjH1 {
    width: 266px;
    height: 50px;
    margin-left: 90px;
    border-bottom: 1px solid grey;
}

.pjUl {
    list-style-type: none;
}

.pjLi {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 17px;
    
}

.imgItem {
    display: flex;
    height: 200px;
}

.logoImg {
    border-radius: 6px;
}

#pjBtn {
    margin-left: 880px;
    width: 130px;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    outline-style: none;
    font-size: 1em;
    font-weight: bold;

    border: 2px solid grey;
    background-color: white;
    transition: 0.4s;
}

#pjBtn:hover {
    cursor: pointer;
    outline-style: none;
    color: #9b9a9c;
    box-shadow: 0 7px 14px -5px grey;
    border-radius: 10px;
    transition: 0.2s;
}

.space {
    height: 200px;
}

#MainPng {
	width: 237px;
	height: 200px;
	border-radius: 6px;
}